ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    text-decoration: none;
}

ul li {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;

}

.navbar {
    background-color: #706969;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 25px;
}

ul li:hover{
    color: rgb(110, 14, 110)

}