ul{
    list-style-type: none;
    display: flex;
    gap:50px;
}
.navbar{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}