ul{
    list-style-type: none;
    display: flex;
    gap:50px;
}
.navbar{
    background-color: #4a4a4a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
    padding:0px 25px;
}